<div class="row" id="<%= ascent.id %>">
    <div class="span12">
    <h2 class="title">Ascent <%= best_in_place_if (can? :edit, Ascent), ascent, :ascent_number, :type => :input %> of <%= ascent.climb.name %> by <%= ascent.climber.full_name %> on <%= best_in_place_if (can? :edit, Ascent), ascent, :ascent_date, :type => :date %></h2>
</div>
</div>
<div class="row">
    <div class="span12">
        <h4 class="title">Suggested Grade: <%= ascent.grade.name %></h4>
    </div>
</div>
<div class="row">
    <div class="span12">
        <p class="pull-right hidden-phone">
        <a href="#top">Back to top</a> 
		<% if can? :edit, Ascent %>
			| <%= link_to "Edit", edit_ascent_path(ascent) %>
		<% end %>
        </p>
    </div>
</div>
<% ascent.medias.each do |media| %>
    <div class="row top-buffer">
        <div class="span2">
            <p class="lead pull-right hidden-phone"><%= media.media_type.name %>:</p>
        </div>
        <div class="span10">
			<% if media.media_type.id == 2 %>
			<div class="embed-container">
	            <%= media.url_html %>
			</div>
			<% else %>
	            <%= link_to media.description, media.url, target: "_blank" %>
	            <% if media.pull_quote %>
	              <blockquote><%= media.pull_quote %></blockquote>
	            <% end %>
			<% end%>
        </div>
    </div>
<% end %>