<%= simple_form_for @ascent, :html => { :class => 'form-horizontal' } do |f| %>
  
  <%= render "climbers/climber_form", :f => f, :multi => false %>
  <%= render "climbs/climb_form", :f => f, :multi => false %>
  <%= f.association :grade, prompt: 'Choose the grade', collection: Grade.order(:rank) %>
  <%= f.input :ascent_number, :collection => Ascent::ASCENT_NUMBER %>
  <%= f.input :date, :as => :date, :start_year => Date.today.year - 20,
                                  :end_year => Date.today.year,
                                  :start_daty => 1,
                                  :order => [:month, :day, :year],
                                  :include_blank => true %>
  <%= render "medias/media_form", :f => f, :multi => true %>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ascents_path, :class => 'btn' %>
  </div>
<% end %>
