<%- model_class = Ascent.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:climb_id) %></th>
      <th><%= model_class.human_attribute_name(:climber_id) %></th>
      <th>Grade</th>
      <th><%= model_class.human_attribute_name(:style_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @ascents.each do |ascent| %>
      <tr>
        <td><%= link_to ascent.date, ascent_path(ascent) %></td>
        <td><%= link_to ascent.climb.name, climb_path(ascent.climb) %></td>
        <td><%= link_to ascent.climber.full_name, climber_path(ascent.climber) %></td>
        <td>Grade</td>
        <td>Style</td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_ascent_path(ascent), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      ascent_path(ascent),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_ascent_path,
            :class => 'btn btn-primary' %>
