<%= simple_form_for @media, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :url %>
  <%= f.input :description %>
  <%= f.input :pull_quote, :as => :text, :input_html => { :cols => 20, :rows => 5 } %>
  <%= render "climbs/climb_form", :f => f, :multi => true %>
  <%= render "ascents/ascent_form", :f => f, :multi => true %>
  <%= f.association :media_type , prompt:  'Choose the media type' %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                @media.id.nil? ? medias_path : media_path(@media), :class => 'btn' %>
  </div>
<% end %>
