<%- model_class = medias.first.class -%>
<div id="media-list">
	<h1 class="title"><%=t '.title', :default => model_class.model_name.human %></h1>
	 <% @medias.each do |media| %>
		 <div class="row">
		     <div class="span2">
		         <p class="pull-right hidden-phone"><%= media.media_type.name %> for
					 <%= raw media.ascent.collect { |a| link_to a.ascent_name_climber_climb, ascent_path(a) }.join(', ')%>
				 </p>
	 	        <% if can? :edit, Media %>
	 	          <p>
	 	            <%= link_to t('.edit', :default => t("helpers.links.edit")),
	 	                      edit_media_path(media), :class => 'btn btn-mini' %>
	 	        <% end %>
	 	        <% if can? :destroy, Media %>
	 	            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	 	                      media_path(media),
	 	                      :method => :delete,
	 	                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	 	                      :class => 'btn btn-mini btn-danger' %>
	 	            </p>
	 	          <% end %>
		     </div>
			 <div class="span10">
				<% if media.media_type.id == 2 %>
				<div class="embed-container <%= if media.is_square? then 'square' end %>">
		            <%= media.url_html %>
				</div>
				<% else %>
		            <%= link_to media.description, media.url, target: "_blank" %>
		            <% if media.pull_quote %>
		              <blockquote><%= media.pull_quote %></blockquote>
		            <% end %>
				<% end%>
			 </div>
		 </div>
	 <% end %>
	<%= paginate medias %>
</div>