<%= simple_form_for @climb, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.association :area, :collection => Area.all, prompt: 'Choose the area', 
  	input_html: { :class => "chzn-select", :'data-placeholder' => "Select Area" } %>
	
  <%= f.input :style_id, :collection => Style.all, prompt:  'Choose the style' %>
  <%= f.input :grade_id, :collection => Grade.all, prompt:  'Choose the grade' %>
  <%= f.input :still_hard %>
  
  <%= render "medias/media_form", :f => f %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                climbs_path, :class => 'btn' %>
  </div>
<% end %>
