<%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => ">" %>
<%- model_class = @climb.class -%>
<h1 class="title"><%=t '.title', :default => @climb.name %></h1>
<div class="well">
    <div class="row">
        <div class="span8">
            <dl class="dl-horizontal">
              <% if @first_ascent != nil %>
                <dt><strong>First Ascent:</strong></dt>
                <dd><%= link_to @first_ascent.climber.full_name, climber_path(@first_ascent.climber) %> - <%= link_to @first_ascent.ascent_date, :anchor => @first_ascent.id %></dd>
              <% end %>
              <dt><strong><%= model_class.human_attribute_name(:area_id) %>:</strong></dt>
              <dd><%= link_to @climb.area.name, area_path(@climb.area) %></dd>

              <dt><strong><%= model_class.human_attribute_name(:style_id) %>:</strong></dt>
              <dd><%= @climb.style.name %></dd>
                          
              <dt><strong>Repeated By:</strong></dt>
              <% @climb.ascents.where("ascent_number > 1").order("ascent_number asc").each do |ascent| %>
                <dd>
                    <%= link_to ascent.climber.full_name, climber_path(ascent.climber) %> - <%= link_to ascent.ascent_date, :anchor => ascent.id %>
                </dd>
              <% end %>

            </dl>
			<% if can? :edit, Climb or can? :destroy, Climb %>
	            <div class="form-actions">
	            <% if can? :edit, Climb %>
	              <%= link_to t('.edit', :default => t("helpers.links.edit")),
	                          edit_climb_path(@climb), :class => 'btn' %>
	            <% end %>
	            <% if can? :destroy, Climb %>
	              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	                          climb_path(@climb),
	                          :method => 'delete',
	                          :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
	                          :class => 'btn btn-danger' %>
	            <% end %>

	            </div>
			<% end %>
           </div>
           <div class="span3">
            
           </div>
    </div>
</div>
<div class="container">
    <% @climb.ascents.order("ascent_number asc").each do |ascent| %>
        <%= render 'ascents/ascent_detail', :ascent => ascent, :climb => @climb %>
    <% end %>     
</div>