<div id="logo" class="hidden-phone border">
		<img src="https://s3.amazonaws.com/hardclimbs/assets/HARDCLIMBS-LOGO.png" width="1170" height="280" alt="Welcome to HardClimbs.info">
</div>
<div class="row main-features">
	<div class="span3">
	  <div class="well">
	    <h3>Ascents</h3>
	    <p><p>Explore <%= Ascent.count %> ascents </p></p>
	    <%= link_to "Ascents", ascents_path, :class => 'btn btn-info' %> 
	  </div>
	</div>
  <div class="span3">
    <div class="well">
      <h3>Climbers</h3>
      <p>Explore <%= Climber.count %> climbers </p>
      <%= link_to "Climbers", climbers_path, :class => 'btn btn-info' %>  
    </div>
  </div>
  <div class="span3">
    <div class="well">
      <h3>Climbs</h3>
      <p>Explore <%= Climb.count %> climbs </p>
      <%= link_to "Climbs", climbs_path, :class => 'btn btn-info' %> 
    </div>
  </div>

  <div class="span3">
    <div class="well">
      <h3>Areas</h3>
      <p><p>Explore <%= Area.count %> areas </p></p>
      <%= link_to "Areas", areas_path, :class => 'btn btn-info' %> 
    </div>
  </div>
</div>

<%= render 'maps/overview_map'%>