<div class="hero-unit">
  <h1>Welcome to HardClimbs.info</h1>
  <p>A semi-comprehensive list of the hardest rock climbs in the world...</p>
  <p></p>
</div>

<div class="row main-features">
  <div class="span4">
    <div class="well">
      <h3>Climbers</h3>
      <p>Explore <%= Climber.count %> climbers </p>
      <%= link_to "Climbers", climbers_path, :class => 'btn btn-info' %>  
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <h3>Climbs</h3>
      <p>Explore <%= Climb.count %> climbs </p>
      <%= link_to "Climbs", climbs_path, :class => 'btn btn-info' %> 
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <h3>Sends</h3>
      <p><p>Explore <%= Ascent.count %> sends </p></p>
      <%= link_to "Sends", ascents_path, :class => 'btn btn-info' %> 
    </div>
  </div>
</div>