<%= simple_form_for @area, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.label :country %> 
  <%= f.country_select :country, [ "United States", "Switzerland", "Japan", "France", "Germany" ], 
                      prompt: 'Choose the country'%>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                area_path(@area), :class => 'btn' %>
  </div>
<% end %>
