<h1 class="title">Search Results</h1>
<div class="row main-features">
  <div class="span6 offset3">
<% if @pg_search_documents.count > 0 %>
<table class="table table-striped">
    <% @pg_search_documents.each do |pg_search_document| %>
      <tr>
		 <td> 
			 <%= link_to pg_search_document.content, "../#{(pg_search_document.searchable.class).to_s.downcase!.pluralize}/#{pg_search_document.searchable.slug}" %>
		 </td>
		 <td>
			 <%= pg_search_document.searchable.class %>
		 </td>
	  </tr>
    <% end %>
</table>
<% else %>
	<p>No results found or you haven't searched yet.</p>
	<p>Use the search box in the upper right corner to try again.</p>
	<% if can? :create, Ascent or can? :create, Area or can? :create, Climb or can? :create, Climber %>
		<p>
		<h1 class="title">Add Something?</h1>
		<% if can? :create, Ascent %>
		<%= link_to t('.new', :default => t("helpers.links.new Ascent")),
		            new_ascent_path,
		            :class => 'btn btn-primary' %>
		<% end %>
		<% if can? :create, Area %>
		<%= link_to t('.new', :default => t("helpers.links.new Area")),
		            new_area_path,
		            :class => 'btn btn-primary' %>
		<% end %>
		<% if can? :create, Climb %>
		<%= link_to t('.new', :default => t("helpers.links.new Climb")),
		            new_climb_path,
		            :class => 'btn btn-primary' %>
		<% end %>
		<% if can? :create, Climber %>
		<%= link_to t('.new', :default => t("helpers.links.new Climber")),
		            new_climber_path,
		            :class => 'btn btn-primary' %>
		<% end %>
		<p>
	<% end %>
<% end %>
	</div>
</div>