<div id="climber-list">
  <table class="table table-striped" id="climber-list">
    <thead>
      <tr>
        <th>Climber</th>
        <th>Ascents</th>
        <th>Sex</th>
        <th>DOB</th>
        <th>Height</th>
      </tr>
    </thead>
    <tbody>
      {{#each}}
        <tr>
          {{!-- <td>{{link-to full_name 'climbers.show' this}}</td> --}}
          <td>{{ascents_count}}</td>
          <td>{{sex}}</td>
          <td>{{dob}}</td>
          <td>{{height}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
