<!DOCTYPE html>
<html>
  <head>
	<%= include_gon %>
	<%= display_meta_tags  :site => 'HardClimbs.info'%>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? && !user_signed_in? %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </div>
    </div>
    <div id="main" role="main">
      <div class="container">
          <%= render 'layouts/messages' %>
          <%= yield %>
          <footer>
			  <%= render 'layouts/footer' %>
          </footer>
        </div>
      </div> <!--! end of .container -->
      <%= debug(params) if Rails.env.development? %>
    </div> <!--! end of #main -->
  </body>
</html>
